<h1>APP Name: {{ appName }}</h1>
<h3>The request URL is {{ request.url() }}</h3>
<p>Time -  {{ currentTime() }} - Message: {{ getMessage('success') }} </p>
@if(!guessedNumber)
  <p> Please specify a number by passing <code>?number</code> to the url </p>
@elseif(guessedNumber === randomNumber)
  <h2> Matched </h2>
@else
  <h2>Match failed. The actual number is {{ randomNumber }}</h2>
@endif
